div {
border:1px solid black;
border-radius: 10px;
}

.titleText {
    text-align:center;
}

.numberText {

}

#codeToggleButton {
    z-index: 100;
    position: fixed;
    top: 60px;
}

img {
    margin:0 auto;
    display:block;
    text-align: center;
    border-radius: 40%;
    width: 30%
}

.slideshow-container {
    boarder: 1px solid black;
}
